body {
  background-color: #232323;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  
}

#in1 {
    position: absolute;
    left: 12px;
    top: 360px;
    width:54px;
    height:20px;
    background-color: #444;
    color: #fff;
}
#in2 {
    position: absolute;
    left: 12px;
    top: 420px;
    width:54px;
    height:20px;
    background-color: #444;
    color: #fff;

}
#csvd {
    position: absolute;
    text-align: center;
    left: 15px;
    top: 15px;
    width:100px;
    height:20px;
    background-color: #444;
    color: #fff;
}
#angd {
    position: absolute;
    text-align: center;
    left: 15px;
    top: 35px;
    width:100px;
    height:20px;
    background-color: #444;
    color: #fff;
}
