body {
  background-color: #232323;
}

#in1 {
    position: absolute;
    left: 15px;
    top: 390px;
    width:54px;
    height:20px;
    background-color: #444;
    color: #fff;
}
#in2 {
    position: absolute;
    left: 15px;
    top: 445px;
    width:54px;
    height:20px;
    background-color: #444;
    color: #fff;

}
